.container-footer {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @include tel {
    display: flex;
    width: 480px;
    height: auto;
    flex-direction: column;
    // justify-content: center;
  }
  @include tablet {
    width: 768px;
    flex-direction: unset;
    flex-wrap: wrap;
  }
  @include desktop {
    width: 1200px;
    flex-wrap: unset;
  }
}
.footer {
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #EBE9E6;
  @include desktop{
    padding-bottom: 0;
  }
}
