
.wedding-list {
 display: flex;

  @include desktop-max {
    display: none;
  }

  &__item{
    // margin-right: var(--primary-margine-right);
    // margin-left: auto;
    width: 100%;
    height: auto;

  }
}


