body {
  color: var(--primary-text-tittle-color);
  background-color: var(--background-maintittle-color);
  letter-spacing: 0.03em;
  font-family: Inter ;
}

button {
  cursor: pointer;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include tel {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  opacity: 0;
}
