:root {
  --primary-text-tittle-color: #212121;
  --background-maintittle-color: #ffffff;
  --accent-color: #2196f3;
  --text-tell-color: #757575;
  --main-background-color: #2f303a;
  --primary-margine-right: 30px;
  --bakground-secondary-color: #f5f4fa;
  --timing-functian: cubic-bezier(0.4, 0, 0.2, 1);
}
